$table_hover: #cfd8dc !important;
$light_gray: #e4e4e4;
$red_darken_1: #e53935;
$teal_lighten_2: #4db6ac;

.m-0 {
    margin: 0;
}

.m-auto {
    margin: 0 auto;
}

.mt-sm {
    margin-top: 1.5rem;
}

.mb-sm {
    margin-bottom: 1.5rem;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.text-white {
    color: white!important;
}

.text-success {
    color: #28a745;
}

.text-failure {
    color: #E53935;
}

.text-shadow {
    text-shadow: 0px 8px 17px rgb(0 0 0 / 14%), 0 3px 14px rgb(0 0 0 / 12%), 0 5px 5px rgb(0 0 0 / 20%);
}

.text-xl {
    font-size: 5em;
}

.text-large {
    font-size: x-large;
}

.input-field input::placeholder {
    color: #9e9e9e;
}

.text-link:hover {
    text-shadow: 0px 16px 24px rgb(0 0 0 / 14%), 0 6px 30px rgb(0 0 0 / 12%), 0 8px 10px rgb(0 0 0 / 20%);
}

.text-link.text-white:hover {
    border-bottom: 1px solid white;
}

.inline {
    display: inline;
}

.error-box {

    ul {
        padding: 24px;
    }

}

.banner {
    width: 100%;
    height: 100vh;
    flex-direction: column; 
    background-size: cover;
    background-color: #736f66;
    background-image: url('/../images/banner.png');
}

.login, .register {

    .banner {
        min-height: 100vh;
        height: 100%;
    }

}

.login-btn {
    display: block;
    width: fit-content;
    padding: 0.25em;
    border: 0.12em solid white;
    text-transform: uppercase;
    transition: all 0.2s;
}

.login-btn:hover {
    color: black;
    background: white;
    box-shadow: 0 8px 17px 2px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%), 0 5px 5px -3px rgb(0 0 0 / 20%);
    transition: all 0.2s;
}

.login-box {
    backdrop-filter: blur(10px);
    background-color: rgba(255,255,255, 0.15);
    border-radius: 2rem;
    margin: 1.5em;
    padding: 1.5em;
}

.login-box .input-field input {
    border-bottom-color: black;
}

.login-box .input-field input::placeholder {
    color: black;
}

.login-box .input-field label {
    color: black;
}

.login-box .input-check {
    margin: 0;
}

.login-box .input-check label {
    color: black;
}

.login-box .register-btn a {
    text-transform: capitalize;
}

.verification {

    .login-box {
        width: max-content;
        padding: 3rem;
        background-color: rgba(255,255,255, 0.85);
        text-align: center;

        .chip {
            margin: 1rem;
        }

        .text-link {
            box-sizing: border-box;
            background: none;
            margin-top: 0.5rem; 
            padding-bottom: 0.25rem;
            border-bottom: 1px solid transparent;
        }

        .text-link:hover {
            color: $teal_lighten_2;
            cursor: pointer;
            border-bottom: 1px solid $teal_lighten_2;
        }
    }

}

nav {

    position: sticky;
    top: 0;
    z-index: 100;

    .right li i {
        margin: 0;
    }

    .dropdown-content li {

        a {
            text-align: center;
        }

        input[type="submit"] {
            width: 100%;
            font-size: 16px;
            color: #26a69a;
            display: block;
            line-height: 22px;
            padding: 14px 16px;
            text-align: center;
            background: none;
        }

        input[type="submit"]:hover {
            cursor: pointer;
        }

    }

    .notif-btn {
        position: relative;

        .notif-circle {
            display: block;
            position: absolute;
            height: 1em;
            width: 1em;
            top: 32px;
            right: 10px;
            border-radius: 50%;
            background-color: red;
        }

        .notif-count {
            display: block;
            position: absolute;
            top: 7px;
            right: 13px;
        }
        
    }

}

#notifdropdown {

    overflow: auto;
    max-height: 50vh;

    li {
        padding: 1em;
    }

    .notification {

        .controls {
            display: flex;
            justify-content: center;

            .waves-red:hover,
            .waves-red:active,
            .waves-red:focus {
                background-color: #e53935;
                color: white;
            }
        }

        .notif-box {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .notif-controls {

                padding-left: 0.8rem;

                .notif-clear {
                    display: inline;
                    padding: 0;
                    color: $light_gray;
                    background: none;
                }

                .notif-clear:hover {
                    color: red;
                    cursor: pointer;
                }

            }

        }
    }

    .empty:hover {
        background: none;
        cursor: default;
    }

    .notification:hover {
        cursor: default;
    }



}

footer {
    text-align: right;
    margin-top: auto;
    padding: 2rem;
    background-color: #1d2124;

    a {
        color: $teal_lighten_2;
    }
}

#main {
    display: flex;
    flex-direction: column;
}

.app {
    min-height: 100vh;
}

.task {

    padding: 2rem 0;

    a {
        color: $teal_lighten_2;
    }

    .task-box,
    .comments {
        padding: 2rem 1rem;
        border-radius: 1rem;
    }

    .row {
        margin-bottom: 0;
    }

    .modal {
        border-radius: 1rem;
    }

    .task-header {

        ul li {
            display: inline-block;
        }

    }

    .task-body {
        margin: 1.5rem 0;

        .task-controls {

            .task-controls-main {
                .switch label input[type=checkbox][disabled] + .lever:after, .switch label input[type=checkbox][disabled]:checked + .lever:after {
                    background-color: #26a69a;
                }
            }

        }
    }

    .task-footer {

        display: flex;
        justify-content: space-between;

        .chip .material-icons {
            vertical-align: sub;
        }

        span {
            align-self: flex-end;
        }

    }

    .modal-footer {
        padding: 4px 24px;
    }

    #categories {

        max-height: 100%;

        .input-field {
            margin: 3rem 0;
        }

        .category-box {
            height: 14rem;
            overflow: auto;
            margin-top: 1rem;
            border-radius: 1rem;
        }

        .control {
            text-align: right;
        }

        td {
            padding: 1rem;
        }

        .material-icons {
            vertical-align: bottom;
            color: gray;
        }

        .material-icons:hover {
            color: darkred;
        }

        table.highlight > tbody > tr:hover {
            background-color: $table_hover;
        }

    }

    .category-list {

        margin: 0;

        .category-item {
            margin-bottom: 0.5em;
        }
    }

    #members {

        max-height: 100%;

        .addPerson {

            .invite {
                display: flex;

                .btn-flat {
                    padding: 0;
                }
            }

            .invite > .input-field:first-child {
                width: 100%;
            }

        }

        .member-box {
            height: 14rem;
            overflow: auto;
            margin-top: 1rem;
            border-radius: 1rem;
        }

        .member {

            td {
                padding: 1rem;
            }

            .material-icons {
                vertical-align: middle;
            }

            .control {
                display: flex;
                justify-content: flex-end;

                .material-icons {
                    vertical-align: bottom;
                    color: gray;
                }

                .material-icons:hover {
                    color: darkred;
                }

                .modal {
                    .input-field {

                        display: flex;
                        justify-content: center;
                        width: 65%;
                        margin: 2rem auto 1rem;
            
                        .chip {
                            width: 100%;
                            margin: 0 1rem;
                        }
            
                        button:hover {
                            background-color: $red_darken_1;
                            color: white;
                        }
            
                    }
                }
            }
        }

    }

    #delete-task {

        h5 {
            text-align: center;
        }

        .input-field {

            display: flex;
            justify-content: center;
            width: 65%;
            margin: 2rem auto 1rem;

            .chip {
                width: 100%;
                margin: 0 1rem;
            }

            button:hover {
                background-color: $red_darken_1;
                color: white;
            }

        }

    }

    .comments {

        margin-top: 2rem;

        .message-input {
            display: flex;
        }

        .comment {

            .comment-header {
                display: flex;
                justify-content: space-between;
            }

            .comment-time {
                align-self: center;

                .material-icons {
                    font-size: 12px;
                    vertical-align: middle;
                }
            }

            .comment-body {
                margin: 0.5rem 0;
                padding: 1rem;
                border-radius: 1rem;
                background-color: $light_gray;
            }

            .comment-footer {
                padding: 0 1rem;

                color: #9c9c9c;

                button {
                    padding: 0;
                    color: #9c9c9c;
                }

                button:active,
                button:focus {
                    background-color: initial;
                }

                button:hover {
                    cursor: pointer;
                }

                .edit-btn:hover,
                .save-btn:hover {
                    color: $teal_lighten_2;
                }

                .delete-btn:hover {
                    color: $red_darken_1;
                }
            }

        }

    }

}

.task.single {

    .task-top {
        display: flex;

        h4 {
            margin-top: 0;
        }

        .s5 {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .chip {
                margin: 0 0 0.912rem 0;

                .material-icons {
                    vertical-align: middle;
                }
            }
        }
    }

    .task-controls {

        .task-controls-main {
            display: flex;
            align-items: center;
        }

        .task-controls-side {
            display: flex;
            justify-content: flex-end;
        }
    }

    .task-detail {

        p {
            padding: 1rem;
            border-radius: 1rem;
            background-color: $light_gray;
        }

    }

    .category-list .category-item {
        margin-bottom: 0;
    }

}

.task-list {

    padding: 2rem 0;

    .row {
        margin-bottom: 0;
    }

    form.row {
        display: flex;

        .filter-box {
            padding: 1rem;
            border-radius: 1rem;
            height: max-content;
            position: -webkit-sticky;
            position: sticky;
            top: calc(2rem + 64px);
            z-index: 2;

            .input-field, .select-wrapper input.select-dropdown {
                margin-bottom: 0.25rem;
            }

            .chips {
                border-bottom: none;

                .input {
                    width: 100%!important;
                    border-bottom: 1px solid #9e9e9e;
                }
            }

            .chips.focus {
                box-shadow: none;

                .input {
                    border-bottom: 1px solid #26a69a!important;
                    box-shadow: 0 1px 0 0 #26a69a!important;
                }
            }

            .filter-buttons {
                display: flex;
                justify-content: space-between;

                a:hover {
                    color: white;
                }
            }
        }
    
        .result {
            display: flex;
            flex-direction: column;
            margin-left: 0.5rem;

            .filter-sort-by {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 1rem;
                border-radius: 1rem;

                .input-field {
                    margin-bottom: 0;

                    .order {

                        text-transform: uppercase;
                        margin-bottom: 0.5rem;

                        b {
                            color: $teal_lighten_2;
                        }

                        .material-icons {
                            vertical-align: middle;
                        }

                    }

                    .order:active,
                    .order:focus {
                        background-color: initial;
                    }

                    .order:hover {
                        cursor: pointer;
                    }
                }
            }

            .pagination {
                padding: 0.5rem;
                margin-top: auto;
                border-radius: 1rem;
                text-align: center;
                position: -webkit-sticky;
                position: sticky;
                bottom: 2rem;

                .page {
                    border-radius: 50%;
                }

                .page:hover {
                    background-color: $light_gray;
                }

                .page.active,
                .page.active:hover {
                    background-color: $teal_lighten_2;
                    
                }

                .page.disabled:hover {
                    background-color: initial;
                }

            }
        }
    }

}

.user {

    padding: 2rem 0;

    a {
        color: $teal_lighten_2;
    }

    .user-box {
        padding: 1rem;
        border-radius: 1rem;
    }

    .list-header,
    .list-footer {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }

    .user-box {

        .user-top {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

    }

    .tasks {

        padding: 2rem 0;

        .tasks-list {
            padding: 0;
            padding-right: 1rem;
        }

        .shared-tasks {
            padding: 0;
            padding-left: 1rem;
        }

    }

}

.list {

    .task-item {
        margin: 1rem 0;
        padding: 1rem;
        border-radius: 1rem;
        color: initial;

        .category-list {
            display: flex;
        }

        .task-right {
            margin-left: auto;
        }

        .task-header {
            display: flex;
            padding: 0.5rem;

            h6 {
                vertical-align: super;
                margin-left: 0.35rem;
                color: $teal_lighten_2;
            }

            .switch label input[type=checkbox][disabled] + .lever:after, .switch label input[type=checkbox][disabled]:checked + .lever:after {
                background-color: #26a69a;
            }

        }

        .task-body {
            display: flex;
            align-items: center;
            padding: 0.25rem 0.5rem;

            .material-icons {
                vertical-align: bottom;
                margin-right: 0.5rem;
            }

            ul {
                margin: 0;
            }
        }
    }

    .task-item:hover {
        background-color: #dad8d8 !important;
    }

}

.settings {
    padding: 2rem 0;

    .settings-box {
        padding: 2rem 1rem;
        border-radius: 1rem;
    }
}

.dashboard {

    padding: 2rem 0;

    a {
        color: $teal_lighten_2;
    }

    .box {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
    }

    .dash-display {
        display: flex;
        align-items: stretch;
    }

    .task-showcase,
    .sharing-box {
        padding: 0;
    }

    .task-showcase {

        padding-right: 1rem;

        .task-showcase-item {
            margin: 2rem 0;
            padding: 2rem;
            text-align: center;

            p {
                font-size: 1.8rem;
            }
        }

        .carousel {

            .task-showcase-item {
                width: 100%;
                height: fit-content;
                margin: 0;

                .category-list {
                    display: flex;
                }

                .task-header {
                    display: flex;
                }

                .task-body {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 100%;

                    .task-top {
                        padding-left: 1em;
                        text-align: left;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        max-width: 100%;

                        .material-icons {
                            margin-right: 0.5rem;
                        }
                    }

                    .task-detail {

                        width: 100%;
                        text-align: left;
                        
                        margin: 0;
                        padding: 0;

                        .col {
                            padding: 0;
                            margin: 0;
                        }

                        p {
                            font-size: 1rem;
                            padding: 1rem;
                            border-radius: 1rem;
                            background-color: $light_gray;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 100%;
                        }
                
                    }
                }

                .task-footer {
                    display: flex;
                    justify-content: space-between;

                    .task-right {
                        display: flex;
                        align-items: center;
                        margin-left: auto;

                        .material-icons {
                            vertical-align: bottom;
                            margin-right: 0.5rem;
                        }
                    }
                }

            }
        }

        .showcase-controls {

            .pagination {
                width: fit-content;
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;

                li {

                    display: flex;
                    margin: 0 0.5rem;
                    background: none;
                    vertical-align: middle;
                    align-items: center;
                
                    a {
                        display: inline-block;
                        width: 1em;
                        height: 1em;
                        border-radius: 50%;
                        background-color: $light_gray;
                    }

                    .active {
                        background-color: #424242;
                    }
                }

            }

        }

    }

    .sharing-box {
        padding-left: 1rem;
        display: flex;
        flex-direction: column;

        .shared-empty {

            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            margin: 2rem 0;
            padding: 2rem;

            p {
                font-size: 1.8rem;
            }
        }

        .sharing-list {
            overflow: auto;
            max-height: 29.5rem;
            margin-top: 1rem;
            
            .sharing-item {

                margin-bottom: 1rem;
                margin-right: 1rem;

                a {
                    font-size: 1.35em;
                    display: block;
                }

            }

            .sharing-item:last-child {
                margin-bottom: 0;
            }
        }

        .sharing-list::-webkit-scrollbar {
            width: 0.8rem;
        }

        .sharing-list::-webkit-scrollbar-track {
            background-color: $light_gray;
            border-radius: 1rem;
        }

        .sharing-list::-webkit-scrollbar-thumb {
            border-radius: 1rem;
            background-color: $teal_lighten_2;
        }

        .sharing-list::-webkit-scrollbar-thumb:hover {
            border-radius: 1rem;
            background-color: #26a69a;
        }
    }

    .shared-list {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;
        gap: 1rem;
        row-gap: 1rem;

        .shared-item {
            width: max-content;
            padding: 0rem;

            a {
                display: block;
                padding: 2rem;
                color: inherit;
            }

            .material-icons {
                vertical-align: bottom;
                margin-right: 0.5rem;
            }
        }

    }

}

.message {

    margin: auto;
    width: 100%;

    .box {
        padding: 2rem 1rem;
        margin-top: 2rem;
        border-radius: 1rem;
        text-align: center;

        p {
            font-size: 1.2rem;
        }
    }
}

.popup-message {
    .material-icons {
        vertical-align: sub;
    }

    .material-icons.text-failure {
        vertical-align: bottom;
    }
}